
body {
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
}


/* --nav-- */

nav {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 255, 255);
    display: flex;
    width: 100%;
    justify-content: space-between;

}
/* nav items */

h1 {
    color: rgb(32, 170, 204);
    margin: 1rem;
}

.list.active {
    list-style: none;
    display: flex;
    color: rgb(32, 170, 204);
    margin: none;
}
.list_item {
    margin: 1rem;
    margin-top: 0;
    font-size: 1.5rem;
    /* padding-top: 2rem; */
}

.list {
    display: none;
}
/* hamburger */

button {
    width: 5rem;
    height: 3rem;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding-right: 2rem;

    
}
.hamburger {
    width: 5rem;
    background-color: none;
    height: 3rem;

}
span {
    border: none;
    background-color: transparent;
    width: 100%;
    display: block;
    background-color: rgb(32, 170, 204);
    height: 4px;
    margin: .75rem;
    border-radius: 5px;
}
/* .hamburger span:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
} */